<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300;600&family=Ranchers&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/style.css">


    <title>DC Adopt</title>
</head>

<body>
    <div
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom deep-shadow fixed-top">
        <img class="my-0 mr-md-auto font-weight-normal" width="150" alt="DC Adopt logo" src="/public/images/logo.png"></img>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">Home</a>
            <a class="p-2 text-dark" href="#">Saved Pets</a>
            <a class="btn btn-outline-secondary p-2" href="#">Sign up</a>
            <a class="btn btn-outline-primary p-2" href="#">Log In</a>
            <a class="btn btn-outline-danger p-2" href="#">Log Out</a>
        </nav>

    </div>

    <section class="bgimage">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5>Happy home for a pet is a happy home for you!</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light">
        <h1 class="main-title bold-text">Adoptable Pets</h1>

        <section class="adopt-list" id="parent">
            <div class="card mx-auto w-50">
                <h5 class="card-header bg-orange text-white bold-text">Sasha, 10</h5>
                <div class="card-body">
                    <h5 class="card-title bold-text">German Shepard/Black Lab Mix, Female</h5>
                    <p class="card-text">
                        Sasha is a sweet and loving pet who loves to cuddle! She has had an amputation due to
                        cancer, but doesnt even seem to notice that she only has 3 legs! Nothing can stop her!
                    </p>

                    <div class="container border">
                        <div class="row justify-content-md-left">
                            <div class="col col bold-text">
                                Health Conditions:
                            </div>
                            <div class="col col">
                                tri-pawed, bladder stones
                            </div>
                        </div>
                        <div class="row justify-content-md-left">
                            <div class="col col bold-text">
                                Spayed/Neutered:
                            </div>
                            <div class="col col ">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                                    <path fill-rule="evenodd"
                                        d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="row justify-content-md-left">
                            <div class="col col bold-text">
                                Housetrained:
                            </div>
                            <div class="col col">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                                    <path fill-rule="evenodd"
                                        d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
                                    </path>
                                </svg> </div>
                        </div>
                    </div>

                </div>
                <a href="#" class="btn save-button btn-primary float-right">Save</a>
            </div>
            </div>
            </div>
            </div>

            <div class="card mx-auto w-50">
                <h5 class="card-header bg-orange text-white bold-text">Sasha, 10</h5>
                <div class="card-body">
                    <h5 class="card-title bold-text">German Shepard/Black Lab Mix, Female</h5>
                    <p class="card-text">
                        Sasha is a sweet and loving pet who loves to cuddle! She has had an amputation due to
                        cancer, but doesnt even seem to notice that she only has 3 legs! Nothing can stop her!
                    </p>

                    <div class="container border">
                        <div class="row justify-content-md-left">
                            <div class="col col bold-text">
                                Health Conditions:
                            </div>
                            <div class="col col">
                                tri-pawed, bladder stones
                            </div>
                        </div>
                        <div class="row justify-content-md-left">
                            <div class="col col bold-text">
                                Spayed/Neutered:
                            </div>
                            <div class="col col ">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                                    <path fill-rule="evenodd"
                                        d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="row justify-content-md-left">
                            <div class="col col bold-text">
                                Housetrained:
                            </div>
                            <div class="col col">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                                    <path fill-rule="evenodd"
                                        d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
                                    </path>
                                </svg> </div>
                        </div>
                    </div>

                </div>
                <a href="#" class="btn save-button btn-primary float-right">Save</a>
            </div>
            </div>
            </div>
            </div>
        </section>

        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->

                <!-- Icon -->
                <div class="fadeIn first pt-4">
                    <img src="/public/images/logo.png" id="icon" alt="User Icon" />
                </div>

                <!-- Login Form -->
                <form>
                    <input type="text" id="username-signup" class="fadeIn second" name="username"
                        placeholder="Create a username">
                    <input type="email" id="user-email" class="fadeIn second" name="email"
                        placeholder="Enter your email">
                    <input type="text" id="password" class="fadeIn third" name="password"
                        placeholder="Create a password">
                    <input type="submit" class="fadeIn fourth pt-4" value="Sign Up">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Already have an account? Sign In</a>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="post-pet text-bold text-dark">Create New Post</h2>
                <!-- Login Form -->
                <form>
                    <input type="text" id="petName" class="fadeIn second" name="petname" placeholder="Enter Pet Name">
                    <input type="text" id="petAge" class="fadeIn second" name="petage" placeholder="Enter Pet Age">
                    <input type="text" id="petInfo" class="fadeIn second" name="petdesc"
                        placeholder="Enter a Description of Pet">
                    <input type="text" id="breed" class="fadeIn second" name="petbreed"
                        placeholder="Enter Breed of Pet">
                    <input type="text" id="healthCond" class="fadeIn second" name="health"
                        placeholder="Enter Any Health Conditions of Pet">


                    <div class="form-check d-flex justify-content-center p-1">

                        <div class="gender">
                            <input type="radio" class="form-check-input" name="gender" value="male" id="male">
                            <label class="form-check-label mx-auto" for="male">Male</label>
                        </div>
                        <div class="gender">
                            <input type="radio" class="form-check-input" name="gender" value="female" id="female">
                            <label class="form-check-label mx-auto" for="female">Female</label>
                        </div>
                    </div>



                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="neutered">
                        <label class="form-check-label " for="filledInCheckbox">Neutered/Spayed?</label>
                    </div>

                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="houseTrained">
                        <label class="form-check-label " for="filledInCheckbox">Housetrained?</label>
                    </div>
                    <div class="justify-content-center">
                        <h3>Upload Image of Pet</h3>
                        <form method="post" enctype="multipart/form-data" action="/upload">
                            <input class="pad" type="file" name="file">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer class="bg-dark p-3">
        <div>
            <p class="text-light text-center">Copyright © DC Adopt</p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>