{{#if loggedIn}}
<section>
    <h2>Your Posts</h2>
    <ul class="">
        {{#each pets as |post|}}
        <li>
            {{> pet-info post}}
            <a href="/dashboard/edit/{{pet.id}}" class="">Edit Post</a>
            <a href="/dashboard/delete/{{pet.id}}" id="removeBtn">Remove</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}