{{#if loggedIn}}
<section>
    <h2>Your Posts</h2>
    <ul class="">
        {{#each pets as |pet|}}
        <li>
            {{> pet-info pet}}
            <a href="/dashboard/edit/{{pet.id}}" id="editBtn">Edit Post</a>
           
        </li>
        {{/each}}
    </ul>
</section>

{{/if}}

