{{#if loggedIn}}
<section>
<h1 class="main-title bold-text">Your Uploaded Pets</h1>
    <section class="adopt-list" id="parent">
        {{#each pets as |pet|}}
        {{> pet-info pet}}
        <a class="mx-auto" href="/dashboard/edit/{{pet.id}}" id="editBtn">Edit Post</a>
        {{/each}}
    </section>
</section>

{{/if}}