{{#if loggedIn}}
<section>
    <h2>Your Posts</h2>
    <ul class="">
        {{#each pets as |pet|}}
        <li>
            {{> pet-info pet}}
            <a href="/dashboard/edit/{{pet.id}}" id="editBtn">Edit Post</a>
            <a id="removeBtn">Remove</a>
        </li>
        {{/each}}
    </ul>
</section>
<script src="js/remove-pet.js"></script>
{{/if}}

