{{#if loggedIn}}
<section>
    <h2 class="main-title bold-text">Saved Pets</h2>
    <section class="adopt-list" id="parent">
        {{#each pets as |pet|}}
            {{> pet-info pet}}
        {{/each}}
    </section>
</section>
{{/if}}