<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first pt-4">
        <img src="/images/logo.png" id="icon" alt="User Icon" />
      </div>
  
<<<<<<< HEAD
      <!-- Login Form -->
=======
      <!-- Signup Form -->
>>>>>>> 836cf47dadc49272a509ea9ebcc10f3b642a5735
      <form>
        <input type="text" id="username-signup" class="fadeIn second" name="username" placeholder="Create a username">
        <input type="email" id="user-email" class="fadeIn second" name="email" placeholder="Enter your email">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="Create a password">
<<<<<<< HEAD
        <input type="submit" class="fadeIn fourth pt-4" value="Sign Up">
=======
        <button type="submit" class="fadeIn fourth pt-4" id="signupBtn">Signup</button>
>>>>>>> 836cf47dadc49272a509ea9ebcc10f3b642a5735
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Already have an account? Sign In</a>
      </div>
  
    </div>
  </div>